body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: hsl(0, 100%, 4%);
}


#calculator{
    background-color: hsl(0, 85%, 3%);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    background-color: hsl(0, 10%, 20%);
    border:none;
    padding: 20px;
    font-size: 5rem;
    text-align:left;
    width: 100%;
    color: white;

    
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    
}



button{

    background-color: hsl(0, 82%, 2%);
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    font-size: 3rem;
    font-weight: bold;
}
button:hover{
    background-color: hsl(0, 82%, 10%);
}
button:active{
    background-color: hsl(0, 82%, 20%);
}
.operator{
    background-color: orange;
}
button.operator:hover{
    background-color: darkorange;
}
button.operator:active{
    background-color: orangered;
}